* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #000000;
    color: #e5e9f0;
}

#workspaces button {
    padding: 8 12px 4px 12px;
    background: transparent;
    color: #808080;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.active{
    color: orange;
    border-bottom: 4px solid #e5e9f0;
}

#workspaces button.urgent {
    background-color: #bf616a;
    border-bottom: 4px solid #bf616a;
}

#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray {
    padding: 0 12px 0px 12px;
    margin: 0 2px;
    border-bottom: 3px solid;
    background: transparent;
}

#clock {
    border-bottom-color: transparent;
    color: #e5e9f0;
    font-family: "Comic Sans", monospace;
    font-size: 20px;
    font-weight: bold;
}

#cpu {
    border-bottom-color: #5dd55d;
    color: #e5e9f0;
}

#memory {
    border-bottom-color: #A020F0;
    color: #e5e9f0;
}

#network {
    border-bottom-color: #0000ff;
    color: #e5e9f0;
}

#network.disconnected {
    border-bottom-color: #bf616a;
}

#pulseaudio {
    border-bottom-color: #ffff00;
    color: #e5e9f0;
}

#pulseaudio.muted {
    border-bottom-color: #3b4252;
}

#custom-playerctl {}

#custom-playerctl .playing {
    color: #1db954;
}

#custom-playerctl .paused {
    color: #f5a623;
}

#custom-playerctl .stopped {
    color: #dcdcdc;
}

@keyframes blink {
    to {
        border-bottom-color: #e5e9f0;
        color: #e5e9f0;
    }
}

button:hover,
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover {
    border-bottom-width: 5px;
    margin-bottom: -1px;
}
